.chessGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  background: linear-gradient(rgb(44, 101, 177), rgba(255, 255, 255, 0.26));
  margin-bottom: 10px;
}
.el1 {
  grid-column: 3;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
.btn {
  margin: 2px;
  margin-left: 10px;
}
.label {
  margin: 2px;
  text-align: center;
}
